<h1>Pirate</h1>

<div class="pirates">
  <h3>Name: <%=@pirates.name%></h3><br>
  <h4>Weight: <%=@pirates.weight%></h4><br>
  <h4>Height: <%=\@pirates.height%></h4>

</div><br>

<% @ships.each do |ship| %>
  <h1>Ship Details:</h1>
  <h2><%= ship.name %></h2>
  <h2>
    <%= ship.type %>
  </h2>
  <h2>
    <%= ship.booty %>
  </h2>
<% end %>
